body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    box-sizing: border-box;
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    background: #c9ada7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

section {
    border-radius: 15px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.info {
    background: #f2e9e4;
    padding: 1rem;
}

.graph {
    background: white;
    justify-content: center;
    width: 100%;
}

@media screen and (orientation: landscape) {
    main {
        flex-direction: row;
    }

    .info {
        flex: 3;
    }

    .graph {
        flex: 7;
    }
}